@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">

			<p>Check Your Inbox <a href="https://mail.google.com/mail/u/0/#inbox"> Open Inbox </a></p>
			


		</div>
	</div>
</div>
