@using Demo.Presentation.ViewModels.AccountViewModel
@model ForgetPasswordViewModel
@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">

			<form asp-action="SendResetPasswordLinkSms " method="post">
				<div asp-validation-summary="ModelOnly"></div>
				<input asp-for="Email" placeholder="Email">
				<span asp-validation-for="Email" class="text-danger"></span>
				<br />
				<input type="submit" value="Send Reset Password Link ">
			</form>


		</div>
	</div>
	<!-- copyright -->
</div>
<!-- //main -->